
\.vs/

TemplatedCommunicationsEngine/pkg/Debug/

TemplatingEngine\.External/bin/

TemplatingEngine\.External/obj/

TemplatingEngine\.Tests/bin/

TemplatingEngine\.Tests/obj/

TemplatingEngine/bin/

TemplatingEngine/obj/

packages/
